

/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
@font-face{
    src: url("../index/fonts/Imbue/Imbue-VariableFont_opsz\,wght.ttf");
    font-family: "main-font";
}
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./images/location배경.jpg);
    border: 0;
    padding: 0;
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.text-area{
    font-family: "main-font";
    text-align: center;
    padding-top: 60px;
    font-size: 60px;
    color: rgb(0, 0, 0);
}

.map-area{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;z-index:1
}

#total-header{
    position:relative;z-index:2
}
